- main_period_selector(:year)
- @family_categories.each do |family|
  - procedure_categories = Onoma::ProcedureCategory.select { |c| c.activity_family.include?(family.name.to_sym) }
  - next unless procedure_categories.any?
  .activity-family
    .activity-family-heading
      %h2.activity-family-title= family.human_name
    .activity-family-body
      - ListSorter.new(:procedure_categories, procedure_categories).sort.each do |procedure_category|
        = dropdown_menu_button(procedure_category.human_name, class: 'btn-group-lg procedure-dropdown', icon: false) do |menu|
          - procedures = Procedo::Procedure.of_main_category(procedure_category.name.to_sym)
          - procedures.sort_by(&:position).each do |procedure|
            - menu.item procedure.human_name, { procedure_name: procedure.name, redirect: params[:redirect], action: :new, nature: params[:nature] }
