- main_period_selector(:year)

- main_toolbar do |t|
  = tool_to(:add_technical_itinerary.tl, { controller: :technical_itineraries, action: :new }, icon: :plus)

  = dropdown_menu_button(:documents.tl, main_class: "btn btn-default icn btn-print", force_menu: true) do |d|
    - if @technical_itinerary_document && @technical_itineraries_of_campaign
      - d.item :technical_itinerary_sheet.tl, { controller: :technical_itineraries, action: :index, key: Printers::TechnicalItineraryPrinter.build_key(campaign: current_campaign, technical_itinerary_ids: @technical_itineraries_of_campaign.pluck(:id)), format: :pdf }, remote: false

= kujaku do |k|
  - k.text
  - k.list :activity, value_label: :name

= main_list
