.list_of_procedures {
  .intervention-template-unroll {
    margin-top: 38px;
    li {
    &:hover {
      background-color: rgba(104, 142, 216, 0.2);
    }}
  }
  .parameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .control-group {
      width: 40%
    }

    .control-label {
      max-width: none;
    }
  }
}

.associations-list{
  .activites-list {
    margin-left: 23%;
    // position: relative;
    hint {
      font-size: 11px
    }
  }
  .controls {
    display: inline;
  }
  .add-association {
    margin-left: 28%;
  }
}
.input-right-addon {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid rgb(222, 222, 222);
  background: rgb(238, 238, 238);
  margin-left: -3px;
  border-radius: 2px;
}

.inline-controls {
  margin-left: 0px !important;
  max-width: none !important;
  input select {
    display: inline-block;
  }
}

.go-inline {
  white-space: initial;
}

.pointer-item {
  cursor: pointer;
}
.pointer-item:hover{
  background-color: rgba(104, 142, 216, 0.2);
}

#intervention_template_form{
  .activity-label{
    label{
      max-width: 22%;
    }
  }
  .planning-activities{
    margin-left: 24%;
    position: relative;
    .control-group{
      display: inline-block;
    }
  }
}

.control-group{
  .controls{
    .has_error{
      border-color: #a94442;
    }
    .has_success{
      border-color: #3c763d;
    }
  }
}

#intervention_template_name {
  width: 31%;
}
