= planning_form_for @intervention, url: backend_interventions_path(intervention_proposal: true) do |f|
  = render 'backend/interventions/form', f: f

  .actions.text-center
    = f.submit :plan.tl, class: 'btn btn-primary'
    = link_to(:cancel.tl, planning_schedulings_path, class: 'btn btn-default')
