- css = stylesheet_link_tag 'planning', media: 'all'
- js = javascript_include_tag 'planning', 'data-turbolinks-track': false

- initial_body = yield
- body = css + js + initial_body

= render(layout: "layouts/backend", inline: body)
